/* Header.scss */

.header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 20%;
      min-width: 10%;
    }

    .menu-toggle {
      display: none; // Hide by default for larger screens

      @media (max-width: 768px) {
        display: block; // Show toggle button for smaller screens
      }
    }

    .menu {
      margin-right: 50px;
      ul {
        list-style-type: none;
        margin: 0;
        margin-right: 20px;
        padding: 0;
        display: flex;

        li {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            color: #333333;
            transition: color 0.3s ease;

            &:hover {
              color: green;
            }

            &.active {
              color: green;
            }
          }
        }

        .sendRecipe {
          background-color: green;
          color: white !important;
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          transition: all 0.3s ease !important;
          &:hover {
            transform: scale(3) !important;
            background-color: white;
            color: green !important;
            border: 1px solid green;
          }
        }
      }

      @media (max-width: 768px) {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: none; // Hide menu by default for smaller screens

        &.open {
          display: block; // Show menu when open
          z-index: 9999;
        }

        ul {
          flex-direction: column;
          padding: 20px;

          li {
            margin: 25px 0;
          }
        }
      }
    }
  }
}