.hero {
  .title {
    padding-top: 2%;
    font-size: 3em;
    color: green;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
  }

  .flexItem {
    flex: 1 1 100%; /* Adjust flex property for responsiveness */
    max-width: 100%;
    padding: 1%;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }

  .form {
    margin-right: 20px;
    margin-left: 20px;
  }

  .add {
    width: 100%; /* Adjust width for responsiveness */
    height: 50px;
  }

  .submitButton {
    margin-top: 2%;
    width: 100%;
    background-color: green;
    color: white;
    height: 50px;
  }

  @media screen and (min-width: 768px) {
    /* Adjust layout for medium-sized screens */
    .flexItem {
      flex: 1 1 calc(50% - 2%);
      max-width: calc(50% - 2%);
    }
  }

  @media screen and (min-width: 1024px) {
    /* Adjust layout for large screens */
    .flexItem {
      flex: 1 1 calc(50% - 2%);
      max-width: calc(50% - 2%);
    }
  }
  .loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    .progress{
      height: 100px !important;
      width: 100px !important;
    }
  }
}

