.hero{
    
    .title{
        padding-top: 2%;
        font-size: 3em;
        color: green;
    }
    .flexContainer {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }
    
    .flexItem {
      flex: 1;
      padding: 1%;
    }

    .form{
        margin-right: 20px;
        margin-left: 20px;

    }
    .add{
      width: 50%;
      height: 50px;
    }

    .submitButton{
      margin-top: 2%;
      width: 100%;
      background-color: green;
      color: white;
      height: 50px;
    }
  }